<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MSMQService.MSMQService">
        <host>
          <baseAddresses>
            <add baseAddress="http://lukii-komputer:8080/MSMQService/"/>
          </baseAddresses>
        </host>
        <endpoint address="net.msmq://lukii-komputer/private/kolejka"
                  binding="netMsmqBinding" bindingConfiguration="MyBinding"
                  contract="MSMQService.IMSMQService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding name="MyBinding"  >
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>

</configuration>
